@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 65px;
}

/* ------------------------------common classes-----------------------------------*/

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* ---------------------------------header items------------------------------------- */

.banner {
    display: flex;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    color: #fff;
    padding: 0 5%;
}

.cover-headline {
    width: 50%;
    padding: 0 30px;
}

.cover-headline h1 {
    font-weight: 700;
    line-height: 80px;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 0;
}


.cover-headline p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.cover-image {
    width: 50%;
    margin-bottom: -6px;
}

.cover-image img {
    width: 100%;
}

.banner-button {
    width: 185px;
    height: 47px;
    background: #DD0000;
    border: 1px solid #DD0000;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
}

/* 2nd part  */
.card {
    display: flex;
    margin-top: 9%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.about-match {

    width: 20%;
    background: #161616;
    border-radius: 10px;
    padding: 31px;
    height: 10%;

}

button {
    width: 252px;
    height: 63px;
    background-color: #fff;
    border-radius: 10px;
}

button a {
    text-decoration: none;
    font-size: 20px;
    color: black;

}

#blog {
    background-color: #DD0000;
    border: 0;
}

#blog a {
    color: #fff;
}

.transfer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.transfer {
    width: 96%;
    height: 351px;
    border: 1px solid rgb(135 130 130 / 34%);
    margin: 0px 6px;
    border-radius: 3%;
}

.transfer img {
    width: 100%;
}

.transfer-button {
    width: 100px;
    height: 32px;
    border-radius: 0;
    margin-top: 4%;
    font-size: 16px;
    font-weight: 500;
    margin-left: 27px;
}

.transfer h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-left: 27px;
}

.time span {
    margin-right: 17%;
    color: #7a7a7a;
    margin-left: 27px;
}

/* footer starts  */
footer {
    height: 444px;
    background-color: black;
    margin-top: 5%;
    padding-top: 10%;
}

footer h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #fff;
}

.footer-item {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 3%;
}

.footer-item li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}

.social-icons {
    color: #B9B9B9;
    display: flex;
    justify-content: center;
    column-gap: 3%;
}

.social-icons li {
    font-size: 50px;
    margin-top: 30px;
    list-style: none;
}

/* for upcoming html  */
.match-flag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match-flag img {
    width: 100%;
}

#country-name {
    margin-left: 1%;
}

.time p {
    color: #B9B9B9;

}

#transfer-list {
    gap: 97px;
    padding-top: 69px;
}

#transfer {
    padding: 26% 14%;
    text-align: center;
    height: auto;
    width: 212px;
    margin-top: -69px;
}

/* for allgroup  */
.footballer-images {
    display: flex;
    width: 906px;
    height: 600px;
    margin-left: 10px;
}

.footballer-images img {
    width: 100%;
}

.footballer-details {
    width: 100%;
    text-align: justify;
}

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .banner {
        flex-direction: column;
    }

    .cover-headline {
        width: 87%;
        padding: 0 30px;
        height: 50%;
        text-align: center;
        margin-top: 13%;
    }

    .cover-headline h1 {
        font-size: 33px;
        line-height: 44px;

    }

    .header-long-text {
        display: none;
    }

    .cover-headline p {
        color: rgba(166, 157, 157, 0.811);
    }

    .cover-image {
        width: auto;
        height: 50%;
        margin-left: 39px;
        margin-top: 20px;
    }

    /* header end  */
    /* main part start  */
    .card {
        flex-direction: column;
    }

    .about-match {
        background-color: #fff;
        width: 100%;
        padding: 0;
    }

    .buttons {
        justify-items: center;
    }

    #blog {
        margin-bottom: 30px;
    }

    .transfer-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .transfer {
        height: auto;
        padding-bottom: 10%;
    }

    #transfer {
        width: 70%;
    }

    /* footer  */
    .footer h1 {
        font-size: 22px;
    }

    .footer-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        color: #B9B9B9;
        font-size: 14px;
    }

    .footer-item li {
        margin-bottom: 2%;
    }

    .social-icons li {
        font-size: 30px;
        gap: 6%;
    }

    .footballer-images {
        width: 50%;
        height: auto;
    }


}